<header class="header">

    <img src="/assets/logo.png" alt="logo">

</header>

<main class="main">

    <div class="table-wrapper">

        <div class="table-header">

            <div class="input-box">

                <form (ngSubmit)="searchModel()" [formGroup]="modelForm">
                    <input class='search-input' type="text" id="model" placeholder="Search" formControlName='model'>
                </form>
                <button *ngIf="!loaded" class="add-item-btn" (click)="loaded = true">
                    reset
                </button>

            </div>

            <div class="function-box">

                <div class="add-item-box">
                    <button class="add-item-btn">add item</button>
                </div>
                <div class="filter-box">
                    <button class="filter-btn">
                        <img src="/assets/filter_icon.svg" alt="filter">
                    </button>
                </div>

            </div>

        </div>
        <div class="table-main">

            <table class="table" id="table">

                <thead>
                    <tr>
                        <th (click)="reverseTable()">ID</th>
                        <th>Model</th>
                        <th>Location</th>
                        <th>Creation date</th>
                        <th class="center-th">Battery health</th>
                        <th class="center-th">Fuel</th>
                        <th>Damage</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="table-body">
                    <tr  *ngFor="let item of loaded ? modelData : filteredData">
                        <td class="id">#{{item.id}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.creation_date}}</td>
                        <td class="center-td">
                            <div [ngClass]="detectBattery(item.battery_prc)">
                                <p>{{detectBattery(item.battery_prc)}}</p>
                            </div>             
                        </td>
                        <td class="center-td">
                            <div [ngClass]="detectFuel(item.fuel_prc)">
                                <p>{{item.fuel_prc}}%</p>
                            </div> 
                        </td>
                        <td class="center-td">{{item.damage === null ? ' - ' : item.damage}}</td>
                        <td>
                            <div class="action-td">
                                <img src="/assets/download.svg" alt="download">
                                <img src="/assets/orange-arrow.svg" alt="download">
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>

            <div *ngIf="error"class="not-found">
                <p>Model not found</p>
            </div>

        </div>

        <div class="table-footer">

            <div class="download-box">
                <button class="download-button" (click)="csvDownload()">
                    download csv
                </button>
            </div>

            <div class="navigation-box">
                <button class="pagination-button">
                    <img src="/assets/left-arrow.svg" alt="arrow">
                </button>
                <button *ngFor="let page of pages" [ngClass]="page === 2 ? 'active-page' : 'pagination-button' ">
                    {{page}}
                </button>
                <button class='disabled-button' >
                    <img src="/assets/right-arrow.svg" alt="arrow">
                </button>
            </div>
  
        </div>

    </div>
    
</main>
